* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif; }

html {
  background: url("../img/bgimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: 'Slabo 27px', serif; }

@media (min-width: 1200px) {
  .site-wrapper {
    width: 1200px;
    margin: 0 auto; } }

.top-header {
  width: 100%;
  min-height: 6em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }
  .top-header__logo {
    display: block;
    width: auto;
    max-height: 60px; }
    .top-header__logo img {
      width: auto;
      max-height: 60px; }
  .top-header__menu-trigger {
    cursor: pointer;
    width: 25px;
    height: 20px;
    display: none; }
    .top-header__menu-trigger--bar {
      width: 100%;
      height: 2px;
      margin-bottom: 3px;
      display: block;
      background: #111111;
      border-radius: 2px; }
  @media only screen and (max-width: 768px) {
    .top-header {
      min-height: 40px;
      padding: 5px; }
      .top-header__logo {
        max-height: 30px; }
        .top-header__logo img {
          max-height: 30px; }
      .top-header__menu-trigger {
        display: block; } }

.navigation {
  width: auto;
  height: auto; }
  .navigation__list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .navigation__list--item a {
      padding: 0.5em;
      text-decoration: none;
      color: inherit;
      font-size: 0.95em;
      transition: 0.5s; }
      .navigation__list--item a:hover {
        color: #fff;
        background: #111111; }
  @media only screen and (max-width: 768px) {
    .navigation {
      height: 0;
      width: 100%;
      flex-direction: column;
      clear: both;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition: 1s; }
      .navigation__list--item a {
        display: block;
        width: 100%; }
      .navigation.open {
        height: auto;
        visibility: visible;
        opacity: 1; } }

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }

.content {
  width: calc(100% - 4em);
  margin-top: 2em; }
  .content__slider {
    width: 100%;
    height: calc(100vh - 10em);
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.75); }
    .content__slider--prev-arrow, .content__slider--next-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 99;
      color: #fff;
      font-size: 5em;
      cursor: pointer;
      transition: 0.3s;
      z-index: 98; }
      .content__slider--prev-arrow:hover, .content__slider--next-arrow:hover {
        font-size: 7em; }
    .content__slider--prev-arrow {
      left: 2rem; }
    .content__slider--next-arrow {
      right: 2rem; }
  .content__content-box {
    width: 100%;
    min-height: calc(100vh - 4em - 6em);
    margin: 2em 0;
    padding: 2em; }
    .content__content-box--bg-image {
      background: url("../img/bgimage.jpg"); }
  @media only screen and (max-width: 768px) {
    .content {
      width: calc(100% - 2em);
      margin-top: 0; } }

.invests {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 4em - 6em);
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .invests__item {
    display: flex;
    margin: 0;
    padding: 0;
    width: 33.33%;
    height: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.7s;
    z-index: 98; }
    .invests__item--half {
      width: 50%; }
    .invests__item--text {
      padding: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      word-wrap: break-word;
      font-weight: bold;
      background: #fff; }
    .invests__item--title {
      padding: 0.75em;
      background: #aa0000;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0; }
      .invests__item--title--partners {
        left: auto;
        top: auto;
        bottom: 5%;
        right: 0;
        background: #fff;
        color: #aa0000;
        font-size: 1rem;
        padding: 0;
        display: inline-block; }
    .invests__item .caption {
      background: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 5%;
      opacity: 0;
      z-index: 99;
      transition: 0.7s; }
    .invests__item img {
      width: 100%;
      height: 100%; }
    .invests__item:hover {
      transform: scale(1.1);
      z-index: 98; }
      .invests__item:hover .caption {
        opacity: 1; }
  .invests__fix-height {
    height: calc((100vh - 4em - 6em) / 2);
    width: 50%;
    flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .invests {
      height: auto; }
      .invests__item {
        width: 100%; } }

.news-list {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .news-list__item {
    width: calc(25% - 1em);
    margin: 0;
    padding: 0.5em;
    background: #fff;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75); }
    .news-list__item h3,
    .news-list__item p {
      margin: 0.5em; }
    @media only screen and (max-width: 768px) {
      .news-list__item {
        width: 100%;
        margin: 0.5em; } }

.no-padding {
  padding: 0 !important; }

.no-max-height {
  min-height: auto; }

.bg-news {
  background: #fff; }

.footer {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: space-between; }
  .footer--map {
    width: calc(50% - 1em);
    min-height: inherit; }
  .footer--contact {
    width: calc(50% - 1em);
    min-height: inherit; }
  @media only screen and (max-width: 768px) {
    .footer {
      flex-direction: column; }
      .footer--map, .footer--contact {
        width: 100%;
        padding: 1em; } }

@keyframes rotate {
  0% {
    transform: rotateY(0deg); }
  50% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(0deg); } }

.rotate-animation {
  animation: rotate 3s;
  animation-iteration-count: 1; }

.siema {
  margin-top: 6em;
  height: inherit;
  object-fit: cover; }
  @media only screen and (max-width: 768px) {
    .siema {
      margin-top: calc(40px + 2em); } }

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: -100%;
  top: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.85);
  z-index: 103;
  justify-content: center;
  align-items: center;
  transition: 0.7s; }
  .modal__close-btn {
    font-size: 2em;
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: #fff; }
  .modal img {
    max-width: calc(100% - 8rem - 2em);
    max-height: calc(100% - 8rem - 2em); }
  .modal.open {
    left: 0; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.float--left {
  float: left; }

.flats-search-side-trigger {
  background: #aa0000;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  z-index: 101; }

.flats-search {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  transition: 1s; }
  .flats-search__parameters {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 4em; }
    .flats-search__parameters label {
      width: 100%;
      display: block;
      font-family: 'Slabo 27px', serif;
      font-size: 1.1em;
      margin: 0.7em 0 0.5em 0; }
    .flats-search__parameters select,
    .flats-search__parameters option,
    .flats-search__parameters input {
      width: 100%;
      padding: 10px;
      border: 2px solid #aa0000; }
  .flats-search__results {
    width: 50%;
    padding: 4em;
    overflow-x: auto; }
  .flats-search.open {
    left: 0; }
